
html,body{
    height: 100%;
}

.center-floating{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    
}
.navbar-brand img{
    height: 100%;
}

#nav-panel .panel-heading{
    background-color: #C0392B;
    color: #F1C40F;
}
#nav-panel{
    background-color : #E74C3C;
}
/*
@-webkit-viewport{width:device-width;}
@-moz-viewport{width:device-width;}
@-o-viewport{width:device-width;}
@viewport{width:device-width;}
@-ms-viewport{width:device-width;}*/