th {
    text-align: center;
    padding: 15px;
}
td {
    vertical-align: center;
    text-align: center;
    width: 150px;
    border-top: thin solid grey;
    word-wrap: break-word;
}
#oneHour {
    min-height: 60px;   
}
#oneHalfHour {
    min-height: 90px;   
}
#twoHour {
    min-height: 120px;   
}
#threeHour {
    min-height: 180px;   
}
.box {
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;
}

#content{
    padding: 0;
    position: relative;
}
