th {
    text-align: center;
    padding: 15px;
}
td {
    vertical-align: center;
    text-align: center;
    width: 150px;
    border-top: thin solid grey;
    word-wrap: break-word;
}
#oneHour {
    min-height: 60px;   
}
#oneHalfHour {
    min-height: 90px;   
}
#twoHour {
    min-height: 120px;   
}
#threeHour {
    min-height: 180px;   
}
.box {
    width: 100%;
    overflow-x: visible;
    overflow-y: hidden;
}

#content{
    padding: 0;
    position: relative;
}


.course-card{
    border-color: #d2d2d2;
    box-shadow: 0 1px 0 #cfcfcf;
    border-radius: 3px;
}
.class-details{
    
}
.course-title{
    font-weight: bold;
    display: block;
}
.class-description{
    padding: 1em;
}

table{
    text-size: small;
}
.unitDiv{
    width: 50%;
    padding: 0.5em;
    
}
.unitDiv select{
    font-size: small;
    width: 50%;
}
.unitDiv .ui-select, .unitDiv label{
    display: inline;
    font-size: small;
}

/*----------------------*/
button.btn.btn-danger.ui-btn.ui-shadow.ui-corner-all {
background-color: #E74C3C;
color: #F1C40F;
text-shadow: initial;
}

tr.headed td{
    background-color: #F1C40F;
    color: #E74C3C;
    text-shadow: initial;
}
.label{
    margin-left:0.3em;
}
.fui-triangle-down{
    color: #AAAAAA;
}
.course-card.panel{
    padding-bottom: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

.class-section{
    padding-bottom: 0.5em;
}

/*----------------------*/

#contents h2{
    font-size: 2em;
    color: #E74C3C;
}