#header{
    padding-bottom:0.3em;
    margin-bottom: 0.4em;
}
#ui-content{
    padding: 0;
}
.course-card{
    border-color: #d2d2d2;
    box-shadow: 0 1px 0 #cfcfcf;
    border-radius: 3px;
}
.class-details{
   display: none;
    
}
.course-title{
    font-weight: bold;
    display: block;
}
.class-description{
    padding: 1em;
}

#nav-panel{
    background-color: #C0392B;

}
#nav-panel .panel{
    background-color: #F1C40F;
    color: #C0392B;
}
#nav-panel .panel .panel{
    background-color: #FFFFFF;
}

table{
    text-size: small;
}

#content{
    padding: 0;
}