/*#department-list li a{
    background-color: #C0392B;
    color: #F1C40F;
    height: 4em;
}
#department-list #collapsible-list{
    max-height: 100%;
    overflow-y: scroll;
}*/
#content{
    padding: 0;
}

#menu-icon{
    margin-top: 0.5em;
}
.ui-collapsible.ui-collapsible-inset:nth-child(even) h2 a{
    background-color: #BDC3C7;
}

#coverThing{
    z-index: 100;
}
#container{
    z-index: 2;
}