#login-form{
    width: 80%;
    padding: 2em;
    margin-top: 10%;
}

#login-form a.btn{
    color: #F1C40F;
}
#login-form img{
    width: 80%;
    margin-bottom: 1em;
}

#login-form h9{
    margin-bottom: 2em;
}

.alert{
    display: none;
}
/*
#login-form input[type=text],#login-form input[type=password]{
    height: 3em;
    font-size: 3em;
}*/

#login-spinner{
    height: 100%;
    with: 100%;
    padding: 0;
    margin: 0;
}