#termList li a{
    background-color: #C0392B;
    color: #F1C40F;
    height: 4em;
}

#content{
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: visible;
}

#control-area{
    padding: 0.5em;
    margin-bottom: 3em;
}