#termList li a{
    background-color: #F1C40F;
    color: #C0392B;
    height: 4em;
}

#content{
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: visible;
}

#control-area{
    padding: 0.5em;
    margin-bottom: 3em;
}

.alert.alert-info{
    margin: 1em;
    margin-bottom: 2em;
}

.panel.panel-danger {
margin-left: 1em;
margin-right: 1em;
}